<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Admin Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='adlogstyle.css') }}">
</head>

<body>

    <!-- Home Button -->
    <a href="/" class="home-btn">Home</a>

    <div class="login-container">

        <div class="login-box">

            <h1>Admin Login</h1>

            <form action="/admin-login" method="POST">

                <div class="input-box">
                    <label>Admin Username</label>

                    <input type="text"
                           name="username"
                           placeholder="Enter Username"
                           required>
                </div>

                <div class="input-box">
                    <label>Password</label>

                    <input type="password"
                           name="password"
                           placeholder="Enter Password"
                           required>
                </div>

                <button type="submit">Login</button>

            </form>

        </div>

    </div>

</body>
</html>