<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        Student Complaint Management System
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='hstyle.css') }}">

</head>

<body>

    <!-- Navbar -->

    <header>

        <nav class="navbar">

            <h2 class="logo"> CampusCare </h2>

            <ul class="nav-links">

                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/complaint"> Register Complaint </a>
                </li>

                <li>
                    <a href="/track"> Track Complaint</a>
                </li>

                <li>
                    <a href="/admin-login"> Admin</a>
                </li>

                <li>
                    <a href="/contact"> Contact</a>
                </li>

            </ul>

        </nav>

    </header>

    <!-- Hero Section -->

    <section class="hero">

        <div class="hero-content">

            <h1>
                Student Complaint Management System
            </h1>

            <p>
                A smart platform for students to register,
                track, and manage campus-related complaints easily.
            </p>

            <a href="/complaint"
               class="btn">

               Register Complaint

            </a>

        </div>

    </section>

    <!-- Features Section -->

    <section class="features">

        <div class="card">

            <h2>
                Easy Complaint Registration
            </h2>

            <p>
                Students can submit complaints
                quickly using an online form.
            </p>

        </div>

        <div class="card">

            <h2>
                Track Complaint Status
            </h2>

            <p>
                Check whether your complaint is pending,
                processing, or resolved.
            </p>

        </div>

        <div class="card">

            <h2>
                Admin Dashboard
            </h2>

            <p>
                Admin can manage and resolve
                student complaints efficiently.
            </p>

        </div>

    </section>

    <!-- Footer -->

    <footer>

        <p>
            © 2026 CampusCare | Student Complaint Management System
        </p>

    </footer>

</body>
</html>

#bsyf sarv ujpf lgmh